<div class="my-5 row justify-content-center">
    <h1 class="text-center">회원가입</h1>
    <form name="frm" class="col-md-6 card p-3" method="post" action="/users/insert"> 
        <div class="input-group mb-3">
            <span class="input-group-text">아이디</span>
            <input name="uid" class="form-control">
            <button id="check" class="btn btn-primary" type="button">중복체크</button>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">비밀번호</span>
            <input name="upass" class="form-control" type="password">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">이름</span>
            <input name="uname" class="form-control">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">전화번호</span>
            <input name="phone" class="form-control">
        </div>
        <div class="input-group mb-1">
            <span class="input-group-text">주소</span>
            <input name="address1" class="form-control">
            <button class="btn btn-primary">주소검색</button>
        </div>
        <div>
            <input name="address2" class="form-control" placeholder="상세주소">
        </div>
        <div class="text-center my-3">
            <button class="btn btn-primary">등록</button>
            <button class="btn btn-secondary" type="reset">취소</button>
        </div>
    </form>
</div>

<script>
    let check=false; //중복체크

    //폼이 서밋될 때 .. 등록 submit버튼
    $(frm).on("submit", function(e){
        e.preventDefault(); //노번쩍
        //유효성체크
        const uid=$(frm.uid).val();
        const upass=$(frm.upass).val(); //pass
        const uname=$(frm.uname).val();
        const phone=$(frm.phone).val(); //전화
        const address1=$(frm.address1).val(); //주소
        const address2=$(frm.address2).val();

        if(uid == ""){
            alert("아이디를 입력하세요!");
            $(frm.uid).focus(); //깜빡깜빡
        }else if(check == false){
            alert("아이디 중복체크를 하세요");
        }else if(upass==""){
            alert("비밀번호를 입력하세요");
            $(frm.upass).focus(); //깜빡깜빡
        }else{
            if(confirm("회원을 등록하시겠습니까???")){
                // frm.method="post"; 위 form에 적용
                frm.submit();
            }
        }
    });

    //아이디 중복체크  일반버튼
    $("#check").on("click", function(){
        const uid=$(frm.uid).val();
        if(uid==""){
            alert("중복 체크할 아이디를 입력하세요!~~~~~");
            $(frm.uid).focus();
            return;
        }
        const upass="";//아이디가 있는지 아닌지
        $.ajax({
            type:"post",
            url:"/users/login",
            data:{uid:uid},
            success:function(data){
                // alert(data);
                if(data == 0){
                    alert("사용가능한 아이디입니다.");
                    check=true;
                }else{
                    alert("이미 사용중인 아이디 입니다.");
                    $(frm.uid).focus();
                }
            }
        });
    });
    // 사용중인 아이디를 중복체크하지 않고 등록할 경우 아이디 입력으로 돌아감
    $(frm.uid).on("change", function(){
        check=false;
    });

</script>